body {
    background-image: url("images/hundred-dollar-bill.jpg")
}
.bigger {
    font-size: 24pt;
}

.decorate {
    font-size: 24pt;
    font-weight: bolder;
    color: green;
    text-decoration: underline;
}
