.primary_header {
  color: blue;
  font-family: "Arial Black";
}
.secondary_header {
  color: red;
  font-family: "Arial Black";
}

body {
  background-image: url("/images/background.jpeg");
}

span.emp {
  font-weight: bold;
  color: green;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: brown;
}
